@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  @apply bg-base;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}

/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bg-btn);
  border-radius: 5px;
}

/* NAV BAR */
.nav-list-item {
  @apply px-2 cursor-pointer border-primary border-b-2 border-opacity-0 hover:border-opacity-100;
}
.user-icon-menu {
  display: none;
}
#user-icon:hover > .user-icon-menu {
  display: initial;
}
.nav-item-active {
  @apply border-primary border-b-2;
}
/* LOADING VIEW*/
.loading-container {
  @apply h-full w-full flex flex-col items-center justify-center;
}
.loading-container > div {
  @apply w-10 h-10 border-2 border-primary rounded-full;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* UTILS */
.btn-base {
  @apply rounded-full p-2 hover:bg-primary hover:text-secondary border-secondary border-solid bg-secondary text-txt-secondary;
  border-width: 1px;
}
.btn {
  @apply bg-primary text-txt-primary rounded-md hover:skew-x-2;
}
.keyboard-icon {
  @apply w-8 h-8 text-txt-base fill-current mx-2;
}
.key-btn-col {
  @apply flex flex-col justify-center items-center;
}
.key-btn-row {
}
.signup-proccess-section {
  @apply bg-secondary text-txt-secondary mx-4 py-4 px-8;
}
/* LANDING PAGE */
.sec-1 {
  background-image: url("https://assets.website-files.com/5faabe4b6f6b4331a5f27952/603fa29994675e4e5487a831_Hero_Original-min-p-500.png");
  background-repeat: no-repeat;
  background-position: 300px 0px;
  @apply w-full;
}
.heading-2 {
  @apply text-2xl font-medium px-2 py-4 mt-4;
}

p {
  @apply font-extralight;
}
/* CATEGORY FILTERS */
.filter-item {
  @apply font-medium text-xl px-2 cursor-pointer relative overflow-visible;
}
.filter-on {
  @apply bg-secondary;
}
.hidden-tooltip {
  @apply absolute top-full hidden text-sm bg-secondary text-txt-secondary min-w-max px-2 py-1;
}
.tooltip {
  @apply absolute top-full left-1/2 text-sm bg-secondary text-txt-secondary min-w-max px-2 py-1 transform -translate-x-1/2;
}

.filter-item:hover span {
  @apply inline;
}
